header, .main, footer {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
}

header nav {
	background-color: rgb(44,147,218,0.01);
	margin-left: 55%;
	overflow: hidden;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	float: left;
}

header nav ul li a{
	padding: 10px 20px;
	display: block;
	color: #fff;
	text-decoration: none;
}

header nav ul li a:hover {
	color: #1883ba;
    background-color: #ffffff;
}
div {
	float: left;
}