<!--LOGOTIPO-->
<div>
    <img src="assets\picture\orange.png" width="80" height="80">
</div>
<!--lista-->
<header>
    <nav>
        <ul>
          <li><a href="#" (click)="home()">{{Home}}</a></li>
          <li><a href="#" (click)="Service()">{{Services}}</a></li>
          <li><a href="#" (click)="Abouts()">{{About}}</a></li>
          <li><a href="#" (click)="Contacts()">{{Contact}}</a></li>
          <li><a href="#" (click)="Faqs()">{{Faq}}</a></li>
        </ul>
      </nav>
</header>
