<!--IMAGEN DE FONDO-->
<img src="assets\picture\fondo.jpg"  style="position: absolute; right: 0; top: 0; z-index: -100; opacity: 0.75;">

<!--Esta es mi lista-->
<app-lista
[Home]="'Home'"
[Services]="'Services'"
[About]="'About'"
[Contact]="'Contact'"
[Faq]="'Faq'"
></app-lista>

<!---Este es mi section-->
<app-seccion
[titulo]="'Modern Landing Page'"
[descripcion]="'Esta es la maquetación correspondiente a lo rescatando de algunos de los puntos y aprendisajes obtenidos a lo largo del curso de HTML, CSS, JavaScript y Angular'"
(Saludame)="showSaludo($event)">
</app-seccion>

<!--Este es el pie de pagina-->
<app-footer
[pie_pagina]="'David Ángel Hernández Gutiérrez - MAQUETACIÓN 2021'"
></app-footer>