<section>
    <section class="main">
        <article>
            <form class="form">
                <h2>{{titulo}}</h2><br>
                <p>{{descripcion}}</p><br><br>
                <a class="boton" (click)="lanzar($event)">Comenzar</a>
               <!--<a class="boton" href="#" (click)="Saludo()">Comenzar</a>-->
            </form>	
        </article>
    </section>
</section>
