.main article {
	width: 68.5%;
	margin-left: 14%;
	float: left;

}

.main article h2{
    font-style: normal;
    font-weight: bold;
    font-size: 250%;
	padding: 20px 20px;
	color: #fff

}
.main article p{
    font-style: normal;
    font-size: 115%;
	padding: 30px 20px;
	color: #fff

}

.form{
	padding-bottom: 20px;
  	padding-top: 20px;
	text-align: center;
}

.boton{
	text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: rgb(44,147,218,0.2);
    border-radius: 20px;
    border: 1px solid #fff;
    float: none;
}

.boton:hover {
	color: #1883ba;
    background-color: #ffffff;
}